--- 
layout: default 
title: "Archives" 
description: "Hey," 
header-img: "img/about-bg.jpg" 
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 归档列表 -->
            {% for post in site.posts %}
                <div style="color: red">{{post.title}}</div>
            {% endfor %}

            
            <script>
                var years = {};
                site.posts.sort('date').reverse().forEach(function(post){
                    var year = post.date.year()
                    if(years[year]===undefined){
                        years[year] = [];
                    }
                    years[year].push(post);
                });
                </script>
           
                
            {% for year in years   %}
              
                    <div class="one-tag-list">
                        <span class="fa fa-calendar-times-o listing-seperator" id="{{year}}">
                    <span class="tag-text">{{year}}</span>
                        </span>
                        <ul>
                {% for post years[year]  %}
                                <li>
                                    {{ post.date.format('MM-DD') }}
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        <a href="{{ site.baseurl }}{{ post.path }}" style="color: #0085a1">
                                            <span>
                            {{ post.title || "Untitled"}}
                        </span>
                                        </a>
                                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                                </li>
                                {% endfor %}

                        </ul>
                    </div>
                   
                  {% endfor %}

            
        </div>
    </div>
</div>